<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="MySQL" type="MySql.Data.MySqlClient.MySqlConfiguration, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Project.MSH.UI.WebApi-20160516104659.mdf;Initial Catalog=aspnet-Project.MSH.UI.WebApi-20160516104659;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
    <!--<add name="DbContextModel" connectionString="User Id=postgres;Password=admin123;Host=localhost;Database=db_mhs;Persist Security Info=False;Initial Schema=public" providerName="Npgsql" />-->
    <add name="DbContextModel" connectionString="server=localhost;user id=user_db;database=db_mhs;Password=admin123;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <!--<provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, Npgsql.EntityFramework" />-->
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      </provider>
    </providers>
    <!--<defaultConnectionFactory type="Npgsql.NpgsqlConnectionFactory, Npgsql" />-->
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--<dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.12.0" newVersion="2.0.12.0" />
      </dependentAssembly>-->
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <!--<remove invariant="Npgsql" />
      <add name="Npgsql Data Provider" invariant="Npgsql" support="EF" description=".Net Framework Data Provider for Postgresql" type="Npgsql.NpgsqlConnectionFactory, Npgsql" />-->
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <MySQL>
    <Replication>
      <ServerGroups>
        <Group name="Fabric" groupType="MySql.Fabric.FabricServerGroup, MySql.Fabric.Plugin">
          <Servers>
            <Server name="fabric" connectionstring="server=;port=32275;uid=;password=;" />
          </Servers>
        </Group>
      </ServerGroups>
    </Replication>
  </MySQL>
</configuration>